*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: #efeff2;
    align-items: center;
    align-items: center;
}
.calculator {
    width: 300px;
    height: 500px;
    box-shadow: 4px 4px 30px rgba(red, green, blue, alpha);
    border: 12px;
    background:#22225320;
    overflow: hidden;

}

form input {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 12px;
    font-size: 2rem;
    padding: 1rem;
    color: #fff;
    background: #000;
    text-align: right;
    pointer-events: none;
}

.button{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
button{
    flex: 0 0 22%;
    margin: 5px 0;
    border: 1px solid#000;
    width: 60px;
    height: 52px;
    font-size: 22x;
    border-radius: 5px;
    cursor: pointer;
}
.btn-yellow {
    background: rgb(209, 168, 5);
    color: rgb(182, 150, 9);
}
.btn-grey {
    background: rgb(red, green, blue)(224,224,224);
}    
.btn-equal{
    background: green;
}
.btn-clear{
    background: red;
}





